body{
    margin: 0;
    padding: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ededed;
}
.contenedor{
    display: grid;
}
a{
    text-decoration: none;
    cursor: pointer;
}

.banner-container{
    width: 100%;
    height: 250px;

    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:"badge title login";
    grid-gap: 10px;


    background-color: #084372;
    align-content: center;
    justify-items: center;
    color:white;
}
.logo{
    grid-area: badge;
}

.titulo{
    grid-area: title;
}
.log-buttons{
    grid-area: login;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "registro login";
}

.log-buttons .registro{
    padding:10px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #084372;
    color:white;
}

.log-buttons .registro:hover{
    background-color: #0e69b1;
}

@media screen and (max-width: 700px){
    .log-buttons{
        grid-area: login;
        display: grid;
        grid-template-rows: [arriba] 50px [abajo] 50px;
    }

    .log-buttons .registro{
        padding:10px;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #084372;
        color:white;
        text-align: center;
    }

    #registrar{
        grid-row-start: arriba;
        grid-row-end: arriba;
    }

    #login{
        grid-row-start: abajo;
        grid-row-end: abajo;
    }

}
